.main_contents {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_contents figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: inherit; /*要素がはみ出るのを防ぐためにwrapさせる*/
}

.main_contents img {
    width: 100%;
    max-width: 320px;
    /*元画像サイズが320pxなので、これ以上大きくならないようにする*/
    height: fit-content;
}

.main_contents figcaption {
    line-height: 150%;
    text-align: left;
    font-size: 1.5rem;
}



@media screen and (min-width:769px) {
    .main_contents figure {
        flex-direction: row;
    }

    .main_contents img {
        margin-right: 5%;
        width: 45%;
    }

    .main_contents figcaption {
        margin-top: 10px;
        width: 50%;
    }

}