#gMap {
    margin: 0 auto 50px;
    width: 90%;
    max-width: 640px;
    aspect-ratio: 16 / 9;
    /*表示サイズを１６：９に */
    ;
}

#gMap iframe {
    /*iframeに対して縦横が指定されてしまっているので親のサイズに併せて変化するように変更*/
    width: 100%;
    height: 100%;
}


#gMap dl {
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0.5em auto;
    ;
}

#gMap dt {
    padding: 0.2em 3px;
    margin: 0.2em 0;
    width: 3em;
    border: 1px solid #333;
}

#gMap dd {
    box-sizing: border-box;
    width: calc(100% - 3em - (3px * 2) - (1px * 2) - 1px);
    /* -1 は計算結果の小数点以下によるカラム落ち対策*/
    text-align: left;
    padding: 0.2em 0 0.2em 8px;
    margin: 0.2em 0;
}

#gMap dd span {
    white-space: nowrap;
}




#contact_list {
    width: 90%;
    max-width: 640px;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    font-size: 1.7rem;
    line-height: 2em;
}

#contact_list tr .table_h {
    background-color: #dcdcdc;
    line-height: 3em;
    padding-left: 10px;
}

#contact_list tr .table_h p span {
    font-size: 1.2rem;
    border: 1px solid;
    padding: 3px;
    margin-right: 8px;
}

#contact_list tr .table_con {
    padding: 10px 0 50px 20px;
}

#contact_list tr .table_con span {
    display: inline-block;
    ;
    min-width: 5em;
}

#contact_list tr .table_con input[type=text],
input[type=tel],
input[type=email],
select {
    font-size: 1.6rem;
    height: 1.765em;
    /*元のサイトで30pxだったので文字サイズから算出*/
    line-height: 2.588;
    /*テキストを上下中央に（inputなので大丈夫なはずだけど念のため）*/
}

textarea {
    width: 90%;
    max-width: 640px;
    height: 16em;
}


label.error {
    font-size: 1.3rem;
    color: #cc0000;
    padding-left: 10px;
    margin-top: -10px;
}


input.btn {
    display: block;
    width: 90%;
    font-size: 1.8rem;
    line-height: 2.444em;
    /*padding併せて44px程度だったので文字サイズから算出*/
    font-weight: 900;
    color: #F9be00;
    background-color: #FFFFFF;
    transition: background-color 0.6s ease 0s, color 0.6s ease 0s;
}

input.btn:hover {
    color: #fff;
    background-color: #F9be00;
}

label{margin-bottom: 1em;
    display: inline-block;}
    

@media screen and (min-width:481px) {
    label{margin-bottom: 0.2em;}
}
@media screen and (min-width:769px) {
    input.btn {
        max-width: 342px;
    }
}