/*

まずは自動でついてしまう余白を消したり
基本となるフォントおよびサイズを指定したり
箇条書きのマークを消したり画像の枠を消したりという
いわゆる「リセットCSS」を記述。
Yahooなどで配布されているものを読み込んでもかまいません。

*/
body {
    /* ページ全体の設定 */
    font: 13px/1.231 "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
    /* YUI3 CSS Fonts */
    *font-size: small;
    /* IE用 */
    *font: x-small;
    /* IE 互換モード用 */
    color: #333;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0px;
    padding: 0px;
    list-style: outside none none;
    color: #535353;
}

h3 {
    font-size: 16px;
    line-height: 120%;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 300px;
    letter-spacing: 0.2em;
    margin-bottom: 30px;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

#head {
    position: fixed;
    top: 0;
    left: 0;
    width: 180px;
    height: 100%;
    background-color: rgba(249, 190, 0, 0.85);
    z-index: 9998;
}

#head nav {
    position: absolute;
    width: 100%;
    bottom: 152px;
    text-align: left;
}

#head li a {
    display: block;
    padding: 8px 25px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 900;
    letter-spacing: 0.2em;
    transition: background-color 0.6s ease 0s, color 0.6s ease 0s;
}


#head li a:hover {
    background-color: #fff;
    color: #535353;
}

#snsNavi1 {
    position: absolute;
    width: 100%;
    bottom: 60px;
    text-align: left;
    padding: 0;
}

#snsNavi1 li {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

#snsNavi1 li a:hover {
    background-color: transparent;
    opacity: 0.5;
}



#content {
    width: 100%;
    padding-left: 0;
    margin: 0 auto;
    text-align: center;
}

#logo {
    position: fixed;
    display: block;
    width: 100%;
    height: 70px;
    background-color: #f9be00;
    top: 0;
    left: 0;
    margin: 0 auto;
    z-index: 5000;
    text-align: center;
}

#logo img {
    width: 257px;
    height: 70px;
}

.pagetop {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 10%;
    width: 60px;
    height: 60px;
    opacity: 0.7;
}

.pagetop:hover {
    opacity: 1;
}



#foot {
    text-align: center;
    margin: 0 auto 10px;
    width: 80%;
}

#footer_inside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    margin-bottom: 100px;
    font-size: 13px;
    padding: 1.5em 0;
}

#name {
    width: 120px;
    border: 1px solid #8b8b8b;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

#name a {
    padding: 5px;
    text-decoration: none;
    color: #535353;
    display: block;
    transition:
        background-color 0.6s ease 0s,
        color 0.6s ease 0s;
}

#name a:hover {
    background-color: #535353;
    color: #fff;
}

#footer_inside address {
    width: calc(100% - 120px - 20px);
    max-width: 330px;
    text-align: center;
}


#footer_inside address span {
    white-space: nowrap;
    display: inline-block;
}




.btn {
    width: 140px;
    border: 1px solid #f9be00;
    font-size: 1em;
    /*意味ある？*/
    line-height: 120%;
    font-weight: 300;
    /*意味ある？*/
    letter-spacing: 0.3em;
    margin: 10px auto 100px;
}

.btn a {
    font-weight: 900;
    display: block;
    padding: 10px;
    color: #f9be00;
    transition:
        background-color 0.6s ease 0s,
        background-image 0.6s ease 0s,
        color 0.6s ease 0s;
    text-decoration: none;
}

.btn a:hover {
    background-color: #f9be00;
    color: #fff;
}

@media screen and (min-width:769px) {
    /*元サイトとは異なり「min」にしている。*/
    /*よって以下は横幅768pxを1pxでも超えたら（769pxに到達したら）適用される*/



    #content {
        padding-left: 180px;
        width: calc(100% - 180px);
        text-align: center;
    }

    #logo {
        position: absolute;
        width: 410px;
        height: 112px;
        background-color: transparent;
        top: 50px;
        left: 50px;
        z-index: 9999;
    }

    #logo img {
        width: 100%;
        height: auto;
    }


    #foot {
        max-width: 960px;
        padding-left: 180px;
    }

    #footer_inside address span:nth-child(even) {
        margin-left: 1em;
    }


}